
<!DOCTYPE html>
<html lang="en">
    
    {% load static %}
    
    <head>
       

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Dashboard </title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link href="{% static 'dash/css/styles.css' %}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	  
		<!-- LINEARICONS -->
		<link rel="stylesheet" href="{% static 'rec/fonts/linearicons/style.css' %}">
	  
		<!-- STYLE CSS -->
		<link rel="stylesheet" href="{% static 'rec/css/style.css' %}">
		<script src="{% static 'rec/js/jquery-3.3.1.min.js' %}"></script>
		<script src="{% static 'rec/js/main.js' %}"></script>
		 

		<style>
            body{
                background-color: #efefef;
            }
            .navbar-nav{
                margin-left: 770px;
            }

        </style>
        
    </head>
 
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
            <!-- Navbar Brand-->
            <a class="navbar-brand ps-3" href="#">Dashboard</a>
            <!-- Sidebar Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
           
            <div class="navbar-nav">
                {% if user.is_authenticated %}
                <li>
                  <a href="{% url 'dash' %}" class="nav-item nav-link">
                    Welcome <span style="color: rgb(246, 250, 246)">{{ user.username }}</span> 
                  </a>   
                </li>
                {% else %}
                <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
                {% endif %}
              
           
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">   
                        <li><a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">
                            Logout</a>
                            <form action="{% url 'logout' %}" method="POST" id="logout">
                                {% csrf_token %}
                                <input type="hidden" />
                              </form> 
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Start</div>
                            <a class="nav-link" href="{% url 'main' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Dashboard
                            </a>
                           
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Record Medicine
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'record_medicine' %}">New medicine</a>
                                    <a class="nav-link" href="{% url 'temp' %}">List of Medicines</a>

                                </nav>
                            </div>
                           
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapsePages" aria-expanded="false" aria-controls="collapsePages">
                                <div class="sb-nav-link-icon"><i class="fas fa-book-open"></i></div>
                                Requests
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            
                            <div class="collapse" id="collapsePages" aria-labelledby="headingTwo" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages">
                                    <a class="nav-link" href="{% url 'list_medicines' %}">
                                        <div ><i ></i></div>
                                        send request
                                    </a>
                                    
                                    <a class="nav-link" href="{% url 'list_requests' %}">
                                        <div ><i ></i></div>
                                        view request
                                    </a>
                                    <a class="nav-link" href="{% url 'list_responses' %}">
                                        <div ><i ></i></div>
                                        view response
                                    </a>

                                    <a class="nav-link" href="{% url 'list_approved' %}">
                                        <div ><i ></i></div>
                                        view Approved
                                    </a>  
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseAuth" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                Returns
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseAuth" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'returned' %}">
                                        <div ><i ></i></div>
                                    Return Medicine 
                                    </a>
                                    <a class="nav-link" href="{% url 'list_returned' %}">
                                        <div ><i ></i></div>
                                      List of returned 
                                    </a>
                                </nav>
                           
                            </div>
                            <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#pagesCollapseError" aria-expanded="false" aria-controls="pagesCollapseError">
                                Reports
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordionPages">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{% url 'response_report' case='TODAY' %}">
                                        <div class="sb-nav-link-icon"><i></i></div>
                                         ResponseReport
                                    </a>
                                    <a class="nav-link" href="{% url 'approvedd_report' case='TODAY' %}">
                                        <div class="sb-nav-link-icon"><i></i></div>
                                         ApproveReport
                                    </a>
                                </nav>
                            </div>

                           
                            <a class="nav-link" href="{% url 'mails' %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                                send emails
                            </a>
                            <a class="nav-link" href="{% url 'directors'  %}">
                                <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                                 List of Directors
                            </a>

                        </div>
                    </div>
                   
                </nav>
            </div>
	<div id="layoutSidenav_content">
        <main>
   
			<div class="wrapper">
				<div class="inner">			
					<form method="GET" action=" {% url 'update_medication' id=medicine.id %}" class="form">
						{% csrf_token %}
						<h3>Update Medicine</h3>
                        <label class="label">Medicine Name</label><br/>
						<div class="form-holder">
							<input type="text" name="name" class="form-control" required value="{{ medicine.name }}" />
						</div>
                        <label class="label">manufacture Date</label><br/>
						<div class="form-holder">
							<input type="datetime-local" name="manufacture_date" class="form-control" required value="{{ medicine.manufacture_date }}"/>
						</div>
                        <label class="label">Expiry Date</label><br/>
						<div class="form-holder">
							<input type="datetime-local" name="expiry_date"  class="form-control" required value="{{ medicine.expiry_date }}"/>
						</div>
                        <label class="label">Quantity</label><br/>
						<div class="form-holder">
							<input type="text" name="quantity"  class="form-control"  required value="{{ medicine.quantity}}"/>
						</div>
						<button type="submit" class="button">
							<span>Update </span>
						</button>
					</form>
				</div>
				
			</div>
	   
		
		
	
	</main> 

	<footer class="py-4 bg-light mt-auto">
		<div class="container-fluid px-4">
			<div class="d-flex align-items-center justify-content-between small">
				<div class="text-muted">Copyright &copy; Final Project 2022</div>
				<div>
					<a href="#">Privacy Policy</a>
					&middot;
					<a href="#">Terms &amp; Conditions</a>
				</div>
			</div>
		</div>
	</footer>
	
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="{% static 'dash/js/scripts.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="{% static 'dash/assets/demo/chart-area-demo.js' %}"></script>
<script src="{% static 'dash/assets/demo/chart-bar-demo.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
<script src="{% static 'dash/js/datatables-simple-demo.js' %}"></script>
</body>
</html>













   
		